
/* colors */
$dark-green: #005D2E;
$black-green: #08311B;
$light-green: #81C242;
$green: #0B9044;
$dark-gray: #485258;
$light-gray: #F7F7F7;

/* fonts */
$opensans: 'Opensans', sans-serif;
$quicksand: 'Quicksand', sans-serif;



/* Background */
$bg-primary: $green;
$bg-secondary:$light-gray;


/* Texts */
$color-body:$dark-gray;
$color-title:$green;
$color-link:$dark-green;
$color-link-active:$light-green;

$font-body:$quicksand;
$font-title:$opensans;
$font-size-body:1.6rem;