.hero {
    padding:36.5rem 3rem;
    color:$white;
    font-family:$font-title;
    text-align:center;

    &__title {
        font-size:4.8rem;
        font-weight:bold;
        color:$white;
        margin-bottom:1.5rem;
    }
    &__subtitle {
       font-size:2.4rem;
       margin-bottom:4.6rem;
    }

    &__btn {
        @extend %btn;  
        background-color:$green;
    }
}

@media screen and (min-width:800px) {
    .hero {
        &__title {
            font-size:6rem;
        }
        &__subtitle {
            font-size:2.8rem;
        }
    }

}
