.nav {
    padding:2rem;
    background-color:$white;
    width:100%;
    position: absolute;
    z-index: 10;
   

    .logo {
        width:245px;
        margin:0 auto;
        margin-bottom:2rem;
    }

    &_list {
        margin:0 auto;
        max-width:395px;
        display:flex;
        justify-content: space-between;  
    }


    &_item {
        color:$color-link;
        opacity:0.7;
        font-family:$opensans;
        font-weight:bold;
        font-size:1.6rem;

        &:hover {
            opacity:1;
        }
    }
}

@media screen and (min-width:800px) {
    .nav {
        display:flex;
        align-items: center;
        justify-content: flex-end;
        padding:0 2rem;

        &_list {
            margin:0;
            flex-basis:395px;
        }
        .logo {
            margin:0 auto 0 0;
        }
    }

}
